In [1]:
import pandas as pd
import requests
from io import StringIO

In [2]:

zomato_url = 'https://github.com/dsrscientist/dataset4/raw/main/zomato.csv'

In [4]:
response = requests.get(zomato_url)
csv_data = response.content.decode('latin-1')

In [5]:
zomato_df = pd.read_csv(StringIO(csv_data))

In [6]:
country_code_df = pd.read_excel('https://github.com/dsrscientist/dataset4/raw/main/Country-Code.xlsx')

In [7]:
merged_df = pd.merge(zomato_df, country_code_df, on='Country Code')

In [9]:
average_cost = merged_df.groupby('Country')['Average Cost for two'].mean()

In [15]:
print("Average Cost for two in different countries:")
print(average_cost)

Average Cost for two in different countries:
Country
Australia             24.083333
Brazil               134.666667
Canada                36.250000
India                623.370319
Indonesia         281190.476190
New Zealand           69.750000
Phillipines         1606.818182
Qatar                223.750000
Singapore            155.750000
South Africa         419.733333
Sri Lanka           2375.000000
Turkey                84.852941
UAE                  166.416667
United Kingdom        47.812500
United States         26.152074
Name: Average Cost for two, dtype: float64

In [12]:
price_range = merged_df.groupby('Country')['Price range'].unique()

In [13]:
print("\nPrice range in different countries:")
print(price_range)

Price range in different countries:
Country
Australia         [2, 1, 3, 4]
Brazil            [2, 1, 3, 4]
Canada                  [2, 4]
India             [3, 2, 4, 1]
Indonesia               [3, 2]
New Zealand       [2, 1, 3, 4]
Phillipines          [3, 4, 2]
Qatar                [4, 3, 2]
Singapore            [4, 2, 3]
South Africa         [3, 4, 2]
Sri Lanka            [3, 2, 4]
Turkey               [3, 2, 4]
UAE                  [4, 3, 2]
United Kingdom    [1, 3, 2, 4]
United States     [2, 1, 4, 3]
Name: Price range, dtype: object